<app-user-filter (filterChange)="onFilterChange($event)"></app-user-filter>

<app-user-create (createUser)="addUser($event)"></app-user-create>

<div class="users-page-section">
  <h1 class="user-page-title">Список пользователей</h1>
  @if (filteredUsers$ | async; as users) {
    <h3 class="finded-cards">
      Найдено {{ users.length }} {{ users.length | plural: 'карточка' : 'карточки' : 'карточек' }}
    </h3>
  }

  <div class="user-cards-conteiner">
    @for (user of filteredUsers$ | async; track user.id) {
      <app-user-card [user]="user" (deleteUser)="deleteUser($event)"></app-user-card>
    }
  </div>
</div>
