.users-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5f4;
}
.user-page-title {
  text-align: center;
  font-weight: 800;
  font-size: 48px;
}

.user-cards-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  width: 1460px;
}

.user-card {
  padding: 0 25px;
  width: 440px;
  height: 630px;
  border-top: 4px solid #d4a373;
  background-color: white;
}

.section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #667c7c;
  font-size: 14px;
}

.section-title {
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-title::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #d8dde2;
}

.user-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-username {
  color: #d4a373;
  font-weight: 500;
  size: 15px;
}

.coordinates {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  background-color: #e2e8f0;
}

.accent {
  color: #d4a373;
}
