<p-dialog
  header="Edit post"
  [visible]="visible"
  (visibleChange)="visibleChange.emit($event)"
  [modal]="true"
  [style]="{ width: '500px' }"
>
  @if (post) {
    <form class="edit-post-form">
      <div class="form-field">
        <label for="edit-title">Title</label>
        <input
          id="edit-title"
          name="title"
          type="text"
          [(ngModel)]="post.title"
        />
      </div>

      <div class="form-field">
        <label for="edit-tags">Tags</label>
        <input
          id="edit-tags"
          name="tags"
          type="text"
          [value]="post.tags?.join(', ')"
        />
      </div>

      <div class="form-field">
        <label for="edit-views">Views</label>
        <input
          id="edit-views"
          name="views"
          type="number"
          [(ngModel)]="post.views"
        />
      </div>

      <button type="button" (click)="save.emit(post)">
        Save changes
      </button>
    </form>
  }
</p-dialog>