<p-contextmenu #contextMenu [model]="contextMenuItems" />
<div class="create-post-section">
  <button class="create-post-button" type="button" routerLink="/posts/create">Create post</button>
</div>
<p-table
  [value]="posts"
  [contextMenu]="contextMenu"
  [(contextMenuSelection)]="selectedPost"
  [lazy]="true"
  [paginator]="true"
  [rows]="limit"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 20, 50]"
  [loading]="loading"
  (onLazyLoad)="onPageChange($event)"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} posts"
>
  <ng-template #header>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Views</th>
    </tr>
  </ng-template>

  <ng-template #body let-post>
    <tr [pContextMenuRow]="post" (dblclick)="onRowDoubleClick(post)">
      <td>{{ post.title }}</td>
      <td>{{ post.tags }}</td>
      <td>{{ post.views }}</td>
    </tr>
  </ng-template>

  <ng-template #loadingbody>
    <tr>
      <td><p-skeleton /></td>
      <td><p-skeleton /></td>
      <td><p-skeleton /></td>
    </tr>
  </ng-template>
</p-table>

<app-post-edit-dialog
  [post]="editPost"
  [(visible)]="editDialogVisible"
  (save)="onSavePost($event)"
/>
