<section class="hero">
  <header class="header">
    <div class="navigator-section">
      <nav class="navigator">
        <div class="logo">
          <img class="logo-image" src="/icons/logo.png" alt="РУМТИБЕТ" />

          <span class="logo-title">
            {{ companyName }}
          </span>
        </div>

        <ul class="navigator-items">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Про гида</a></li>
          <li><a href="#">Программа тура</a></li>
          <li><a href="#">Стоимость</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>

        <button class="consultation-button consultation-button-text-color" id="consultation-button">
          Консультация
        </button>
      </nav>
    </div>
  </header>

  <div class="hero-content">
    <h1 class="title">
      Насладись прогулкой в горах<br />
      с командой единомышленников
    </h1>
    <div class="order-footer">
      <form class="tur-search-form">
        <div class="tur-param-field">
          <div class="select-wrapper">
            <select class="tur-param-control" name="city" id="city-select">
              <option selected disabled>Локация для тура</option>
              <option>Джомолунгма</option>
              <option>Эльбрус</option>
              <option>Килиманджаро</option>
            </select>
            <img class="select-icon" src="/icons/select.png" alt="" />
          </div>
          <p>выберите из списка</p>
        </div>

        <div class="tur-param-field">
          <div class="date-wrapper">
            <input
              class="tur-param-control"
              placeholder="Дата похода"
              [type]="isDateType ? 'date' : 'text'"
              (focus)="changeToDate()"
              (blur)="changeToText($event)"
            />
            <img class="calendar-icon" src="/icons/calendar.png" alt="calendar" />
          </div>

          <p>укажите дату</p>
        </div>

        <div class="tur-param-field">
          <div class="select-wrapper">
            <select class="tur-param-control" name="participant" id="participants">
              <option selected disabled>Участники</option>
              <option>экспедиционная группа</option>
              <option>отряд бойскаутов</option>
            </select>
            <img class="select-icon" src="/icons/select.png" alt="" />
          </div>
          <p>выберите из списка</p>
        </div>

        <button class="search-tur-button" type="submit">Найти программу</button>
      </form>
    </div>
  </div>
</section>
