@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-green: #1A3E3E;
  --white: #FFFFFF;
  --dark-blue: #18121E;
  --light-gray: #F3F5F4;
}

