@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-green: #1a3e3e;
  --white: #ffffff;
  --dark-blue: #18121e;
  --light-gray: #f3f5f4;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
